@model WebFamilyFrontEnd.Models.Cliente


<h2>Excluir Cliente</h2>

<div>
    <p>Tem certeza que deseja excluir este cliente?</p>
    <p><strong>Nome:</strong> @Model.Nome</p>
    <p><strong>Email:</strong> @Model.Email</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
